mainapi/.idea/AvatarAIBackEnd.iml
mainapi/.idea/misc.xml
mainapi/.idea/modules.xml
mainapi/.idea/vcs.xml
mainapi/.idea/workspace.xml
mainapi/.idea/inspectionProfiles/profiles_settings.xml
mainapi/.idea/inspectionProfiles/Project_Default.xml
mainapi/.vscode/launch.json
tts/.vscode/launch.json
webrtc/.vscode/launch.json
